{  
  "extends": ["next", "next/core-web-vitals"]
  // "root": true,
  // "parser": "@babel/eslint-parser",
  // "parserOptions": { "requireConfigFile" : "false", "sourceType": "module" }
  // "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features

}